html{
  font-size: x-large;

}
header {
    
    margin-bottom: 40px;
  }

  header h1 {

    color: #2A2B2DFF;
    text-align: center;

    margin: 0;

    padding-top: 20px;
  }
  .buttons{
    display: inline-block;
}




input[type=text], input[type=url], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: underline;
}
a:active {
  color: yellow;
}

.collapsible {

    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    display:flex;
    justify-content: space-between;
    font-size:xx-large
  }
  

  .active, .collapsible:hover{
    background-color: #ccc;
  }
  .expanded {
    padding: 0 18px;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .button{
    color:white;
    background-color: black;
  }
  .detailed{
   display: inline-block;
   padding: 10px
  }

  #hidden{
      display:none;
  }

  .headerButton{
    display: flex;
    flex-direction: column;
  }
  .delete{
    width: 100%;
  }
  .rating-group{
    display: flex;
    flex-direction: column;
    float: flex-end;
  }
  .minimumRating{
    color: white;
    float: right;
    max-width: 300px;
    background-color: #2A2B2DFF;
  }

  .titles{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    text-decoration: underline;
  }
.title, .rating{
  font-size: large;
}
  #minimumRating{
    color: white;
    float: right;
    max-width: 300px;
    background-color: #2A2B2DFF;
  }
